node_modules
dist
.env
.DS_Store
coverage
packages/firebase/serviceAccountKey.json
dump.rdb
.vercel
nf-env*.json
*.log
logs.*.json

# Temporary Files and Logs
.next
.turbo
*.tsbuildinfo
*.txt
*.js.map
*.ogg
*.jpg
*.png
*.mjs.map

# Sandbox/Test Scripts
test-*.ts
test-*.js
test-*.mjs

.gemini/
.commandcode/
sidecar-binary
sshs.md
*ssh*.md
apps/whatsapp-sidecar/sidecar-linux-amd64
.env.local
.env.production
